<!-- <div class="row">
  <div *ngIf="patient" class="col-md-6 col-sm-6 col-lg-6 col-md-6">
    <h2>Paramètres administratifs :</h2>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-lg-6 col-md-6">
        <div>
          <label><h4><b>Date de création :</b></h4></label> {{patient.datecreation}}
        </div>
        <div>
          <label><h4><b>Code :</b></h4></label> {{patient.code}}
        </div>
        <div>
          <label><h4><b>CNI :</b></h4></label> {{patient.cni}}
        </div>
        <div>
          <label><h4><b>Noms :</b></h4></label> {{patient.noms}}
        </div>
        <div>
          <label><h4><b>Prénoms :</b></h4></label> {{patient.prenoms}}
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-lg-6 col-md-6">
        <div>
          <label><h4><b>Date de naissance :</b></h4></label> {{patient.dateNaissance}}
        </div>
        <div>
          <label><h4><b>Profession :</b></h4></label> {{patient.profession}}
        </div>
        <div>
          <label><h4><b>Pays :</b></h4></label> {{patient.pays}}
        </div>
        <div>
          <label><h4><b>Ville :</b></h4></label> {{patient.ville}}
        </div>
        <div>
          <label><h4><b>Quartier :</b></h4></label> {{patient.quartier}}
        </div>
      </div>
    </div>
  </div> -->
