<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Listes des patients</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Code</th>
          <th>CNI</th>
          <th>Noms</th>
          <th>Prénoms</th>
          <th>Telephone</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patient of patients | async">
          <td>{{patient.code}}</td>
          <td>{{patient.cni}}</td>
          <td>{{patient.noms}}</td>
          <td>{{patient.prenoms}}</td>
          <td>{{patient.telephone}}</td>
          <td>{{patient.email}}</td>
          <td>
            <!-- <button (click)="deletePatient(patient.code)" class="btn btn-danger">Delete</button> -->
            <button (click)="updatePatient(patient.code)" class="btn btn-info" style="margin-left: 10px">clinical parameters</button>
            <button class="btn btn-info" style="margin-left: 10px">Vital signs</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
