<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Listes factures</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Noms patient</th>
          <th>Noms caissier(e)</th>
          <th>Désignations</th>
          <th>Date</th>
          <th>Heure</th>
          <th>Prix</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let r of facture | async">
          <td>{{r.id}}</td>
          <td>{{r.patient}}</td>
          <td>{{r.caissier}}</td>
          <td>{{r.designation}}</td>
          <td>{{r.date}}</td>
          <td>{{r.time}}</td>
          <td>{{r.prixtotal}}</td>
          <td>
            <button (click)="deleteRdv(r.id)" class="btn btn-danger">Delete</button>
            <button (click)="updateRdv(r.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
            <button (click)="rdvDetails(r.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
