<!-- <h2>Ajout Patient</h2> -->
<div [hidden]="submitted">
  <form (ngSubmit)="onSubmit()">
    <fieldset>
      <legend><h1>Mise à jour informations patient</h1></legend>
      <legend><h2>Informations administratifs</h2></legend>
      <div class="row">
        <div class="col-lg-3 col-md-3">
          <label for="code">Code dossier</label>
          <input type="text" disabled class="form-control" id="code" required [(ngModel)]="patient.code" name="code">
        </div>
        <div class="col-lg-3 col-md-3">
          <label for="date">Date de creation</label>
          <input type="date" disabled pattern="[0-9]{2}-[0-9]{2}-[0-9]{4}" class="form-control" id="date" required [(ngModel)]="patient.datecreation" name="date">
        </div>
        <div class="col-lg-3 col-md-3">
          <label for="name">Date de naissance</label>
          <input type="date" disabled class="form-control" pattern="[0-9]{2}-[0-9]{2}-[0-9]{4}" id="datedenaissance" required [(ngModel)]="patient.dateNaissance" name="datedenaissance">
        </div>
        <div class="col-lg-3 col-md-3">
          <label for="cni">CNI</label>
          <input type="text" disabled class="form-control" id="cni" required [(ngModel)]="patient.cni" name="cni">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-3">
          <label for="noms">Noms</label>
          <input type="text" disabled class="form-control" id="noms" required [(ngModel)]="patient.noms" name="noms">
        </div>
        <div class="col-lg-3 col-md-3">
          <label for="prenoms">Prenoms</label>
          <input type="text" disabled class="form-control" id="prenoms" required [(ngModel)]="patient.prenoms" name="prenoms">
        </div>
        <div class="col-lg-3 col-md-3">
          <label for="name">Pays</label>
          <input type="text" disabled class="form-control" id="pays" required [(ngModel)]="patient.pays" name="pays">
        </div>
        <div class="col-lg-3 col-md-3">
          <label for="ville">Ville</label>
          <input type="text" disabled class="form-control" id="ville" required [(ngModel)]="patient.ville" name="ville">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-3">
          <label for="quartier">Quartier</label>
          <input type="text" disabled class="form-control" id="quartier" required [(ngModel)]="patient.quartier" name="quartier">
        </div>
        <div class="col-lg-3 col-md-3">
          <label for="profession">Profession</label>
          <input type="text" disabled class="form-control" id="profession" required [(ngModel)]="patient.profession" name="profession">
        </div>
        <div class="col-lg-3 col-md-3">
          <label for="telephone">Telephone</label>
          <input type="number" disabled class="form-control" id="telephone" required [(ngModel)]="patient.telephone" name="telephone">
        </div>
        <div class="col-lg-3 col-md-3">
          <label for="emailId">Email</label>
          <input type="text" disabled class="form-control" id="emailId" required [(ngModel)]="patient.email" name="emailId">
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend><h2>Informations cliniques</h2></legend>
      <div class="row">
        <div class="col-lg-3 col-md-3">
          <label for="statut">Statut matrimonial</label>
          <select id="statut" name="statut" class="form-control" required [(ngModel)]="patient.statut" name="statut">
            <option value="Célibataire">Célibataire</option>
            <option value="Mariée">Mariée</option>
            <option value="Veuve">Veuf / Veuve</option>
            <option value="Divorcée">Divorcée</option>
          </select>
        </div>
        <div class="col-lg-3 col-md-3">
          <label for="sexe">Sexe</label>
          <select id="sexe" name="sexe" class="form-control" required [(ngModel)]="patient.sexe">
            <option value="Masculin">Masculin</option>
            <option value="Feminin">Feminin</option>
          </select>
        </div>
        <div class="col-lg-3 col-md-3">
          <label for="lateralite">Latéralité</label>
          <select id="lateralite" name="lateralite" class="form-control" required [(ngModel)]="patient.lateralite">
            <option value="Droite">Droite</option>
            <option value="Gauche">Gauche</option>
          </select>
        </div>
        <div class="col-lg-3 col-md-3">
          <label for="age">Age</label>
          <input type="number" class="form-control" id="age" required [(ngModel)]="patient.age" name="age">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-3">
          <label for="taille">Taille</label>
          <input type="number" class="form-control" id="taille" required [(ngModel)]="patient.taille" name="taille">
        </div>
        <div class="col-lg-3 col-md-3">
          <label for="poids">Poids</label>
          <input type="number" class="form-control" id="poids" required [(ngModel)]="patient.poids" name="poids">
        </div>
        <div class="col-lg-3 col-md-3">
          <label for="religion">Réligion</label>
          <input type="text" class="form-control" id="religion" required [(ngModel)]="patient.religion" name="religion">
        </div>
        <div class="col-lg-3 col-md-3">
          <br>
          <button type="submit" class="btn btn-primary">Mise à jour</button>
        </div>
      </div>
    </fieldset>
  </form>
  <br>
</div>
<br>
<!-- <app-patient-list></app-patient-list> -->
